@charset "UTF-8";
/* CSS Document */

body{
    background-color: #F7E1C1;
}
ul.Nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BD906E;
}

.Nav li a:hover {
    background-color: #946D46;
	color: white;
}
ul.Nav li{
    float: left;
}

a {
    display: block;
    color:#2C2B2C;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;

}

.active {
    background-color: #6B4C33;
	color: white;
}


h1 {
font-size: 40px;
color:#2C2B2C ;
font-weight: 400;
text-align: center;
font-family: 'Cinzel', serif;
}

h2 {
font-size: 20px;
color:#2C2B2C ;
font-weight: 400;
text-align: center;
font-family: 'Cinzel', serif;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container div#pic{
    flex: 1;
}

div#pic img{
    width: 45%;
    max-width: 200px;
    float: right;
}

div#flex{
    flex:4;
    padding-right: 10em;
}