@charset "UTF-8";
/* CSS Document */

body
{
    background-color: #F7E1C1;
    font-size: 17px;
    text-align: center;
}

ul.content {
    list-style-type:square;
    margin: 0;
    overflow: hidden;
    text-align: left;
    padding-left: 60px;
    background-color: #F7E1C1;
}

p{
    text-align: left;
    padding-left: 40px;
}

a {
    text-decoration: underline;
    color: inherit;

}


td a {
    text-decoration: underline;
    text-align: left;
}

h1 {
font-size: 40px;
color:#2C2B2C ;
font-weight: 400;
text-align: center;
font-family: 'Cinzel', serif;
}

h2 {
font-size: 20px;
color:#2C2B2C ;
font-weight: 400;
text-align: center;
font-family: 'Cinzel', serif;
}

code{
font-size: inherit;
font: inherit;
}

code.block{
  border: 1px solid #999;
  display: block;
  padding: 20px;
  text-align: left;
  font-size: 17px;
  font-family: "Times New Roman", "serif";
    
}

ul.innercontent{
    background-color: #F7E1C1;
    font-size: 17px;
}

ul.innercontent li.innercontent{
    list-style: circle;
}

code.highlight{
    color: red;
}

p.head{
	text-align:left;
    text-emphasis: bold;
	font-size: 19px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-decoration: overline;
}

div.imgflex{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

div.imgflex img{
    flex: 1;
    width: 20%;
}

div.imgflex div{
    flex: 7;
}

pre blockquote{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    text-align: left;
   padding-left: 100px;
}

p a{
    text-decoration: underline;
    text-decoration-color: brown;
    color: brown;
    font-size: inherit;
    padding: 0;
    display: inline;
    
}

table.interpel td{
    width: 300px;
}
#cy {
     width: 65vw;
     height:100vh;
     margin:auto;
     border-style:double;
 }
canvas {
    padding: 0;
    margin: auto;
    display:block;
    width: 800px;
}

div.graphics {
    display:flex;
    height:75vh;
    justify-content:center;
    flex: 1;
}

div.text{
    flext:3;
}

body#interpellation{
    display:flex;
    flex-direction: column;
}


/* Search bar*/
#myInput {
  width: 20%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  margin-bottom: 12px; /* Add some space below the input */
  background-color: #e3bda1;
  font-family: "Times New Roman", serif;
  color: black;
}

#interpel {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#interpel td a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#interpel td a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}