@charset "UTF-8";
/* CSS Document */

body
{
    background-color: #F7E1C1;
    font-size: 17px;
    text-align: center;
}

ul.content {
    list-style-type:square;
    margin: 0;
    overflow: hidden;
    text-align: left;
    padding-left: 60px;
    background-color: #F7E1C1;
}

p{
    text-align: left;
    padding-left: 40px;
}

a {
    text-decoration: underline;
    color: inherit;

}


td a {
    text-decoration: underline;
    text-align: left;
}

h1 {
font-size: 40px;
color:#2C2B2C ;
font-weight: 400;
text-align: center;
font-family: 'Cinzel', serif;
}

h2 {
font-size: 20px;
color:#2C2B2C ;
font-weight: 400;
text-align: center;
font-family: 'Cinzel', serif;
}

code{
font-size: inherit;
font: inherit;
}

code.block{
  border: 1px solid #999;
  display: block;
  padding: 20px;
  text-align: left;
  font-size: 17px;
  font-family: "Times New Roman", "serif";
    
}

ul.innercontent{
    background-color: #F7E1C1;
    font-size: 17px;
}

ul.innercontent li.innercontent{
    list-style: circle;
}
