@charset "UTF-8";
/* CSS Document */

body
{
    background-color: #F7E1C1;
    font-size: 17px;
    text-align: center;
}
ul {
    list-style-type:square;
    margin: 0;
    overflow: hidden;
    text-align: left;
    padding-left: 60px;
}

p{
    text-align: left;
    padding-left: 40px;
}

a {
    display: block;
    color:#2C2B2C;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;

}


td a {
    text-decoration: underline;
    text-align: left;
}

h1 {
font-size: 40px;
color:#2C2B2C ;
font-weight: 400;
text-align: center;
font-family: 'Cinzel', serif;
}

h2 {
font-size: 20px;
color:#2C2B2C ;
font-weight: 400;
text-align: center;
font-family: 'Cinzel', serif;
}

.source {
	background-color: #EDEEE9;
	text-decoration: underline;
}