@charset "UTF-8";
/* CSS Document */

/* toggles */
#nonstory, .nonstory {
	background: #7B3F00;
    color: white;
    font-size: 16px;
    
}
.off { 
    display:none;
}

#music, .music{
    background: #6F4E37;
    color: white;
    font-size: 16px;
    
}

#sound, .speaker{
    background: #5C4033;
    font-size: 16px;
    color:white;
}

.on{
    background: #966919;
    color:white;
}

#mention{
    background: #966919;
    color:white;
    font-size: 16px;
}

.sound{
    background:#80461B;
    color:white;
    font-size: 16px;
}

#stageDirect, .stageDirect{
    background:#4A0404;
    color: white;
    font-size: 16px;
}

/* content */
body
{
    background-color: #F7E1C1;
    font-size: 18px;
}

body div {
    padding: 0px 15px 5px 15px;
}

h3 {
    font-size: 25px;
    text-align: center;
}

/* side bar */
#side {
  width: 200px;
  position: sticky;
  top: 5px;
  background: #C19A6B;
  padding: 8px;
  overflow-x: hidden;
  z-index: 1; /* Stay on top */
}

#main {
  padding: 0px 10px 0px 0px;
  flex: 7;
}

section#scriptflex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

secton#sideflex{
     flex: 1;
}
