
body {
background-color: #eeefea;
color: #2f2f30; 
font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}

ul{
	font-style: normal;
	color: #2f2f30;
}
